.filter {
  position: relative;
  height: 38px;
  z-index: 8;
  margin-bottom: 35px;

  &__inner {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    margin: 0 0 0 auto;
    max-width: 260px;
    border-radius: 8px;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__btn {
    background: #8DB82C;
    border-radius: 8px;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 38px;
    text-align: center;
    min-width: 228px;
    cursor: pointer;

    svg {
      width: 10px;
      margin-left: 6px;
    }
  }

  &__list {
    padding: 11px 0 21px;
    display: none;

    p {
      font-size: 14px;
      line-height: 26px;
      padding: 0 22px;
      margin: 0;
      cursor: pointer;

      b {
        font-weight: bold;
      }

      span {
        color: #8DB82C;
        padding-left: 12px;
      }
    }
  }
}