.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#000, .5);

  &__item {
    position: relative;
    width: 350px;
    min-height: 250px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .16);

    h3 {
      color: #8db82c;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px;
      max-width: 70%;
      text-align: center;
    }

    .btn {
      width: 200px;
    }

    .close-btn {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 15px;
      height: 15px;
      background-image: url(#{$imagesPath}svg/cross.svg);
      background-repeat: no-repeat;
      background-size: cover;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__feedback,
  &__complete {
    display: flex;
    flex-direction: column;
    align-items: center;

    .order__item {
      padding: 0 0 10px;

      &--content {
        width: 40%;
      }
    }

    .link-back {
      align-self: start;
      margin-bottom: 20px;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        bottom: -4px;
        width: 100%;
        height: 2px;
        background-color: #666;
        transition: transform .3s ease-in-out;
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      &:hover {
        cursor: pointer;

        &:before {
          transform: scaleX(0);
          transform-origin: bottom right;
        }
      }
    }
  }

  &__complete {
    p {
      max-width: 60%;
      margin: 15% auto;
      text-align: center;
      line-height: 1.5;
    }

    .btn {
      margin-top: 30px;
    }
  }
}