.product-card {
  //display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-bottom: 16px;
  box-shadow: 0 0 3px rgba(0,0,0,0.35);
  margin: 0 10px 10px;
  position: relative;
  background: white;
  border-radius: 9px;
  max-width: 264px;
  transition: .5s;
  text-align: left;

  @media screen and (min-width: 992px) and (max-width: 1200px) {
    width: 23%;
    margin-bottom: 40px;
  }

  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: .5s;
  }

  @media screen and (max-width: 768px) {
    display: block;
    text-align: left;
  }

  @media screen and (min-width: 360px) and (max-width: 768px) {
    max-width: 45%;
    margin: 8px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    margin: 25px;
    max-width: 300px;
  }

  @media screen and (max-width: 320px) {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .img {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    margin-bottom: 15px;
    width: 100%;
  }

  .name,
  .price,
  .weight {
    padding: 5px 20px;

    @media screen and (min-width: 360px) and (max-width: 768px) {
      padding: 5px;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      padding: 5px 20px;
      font-size: 20px;
    }
  }

  .name {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .price {
    color: #8DB82C;
    font-weight: bold;

    &__old {
      text-decoration: line-through;
      font-size: 15px;
      color: #a9a9a9;
    }
  }

  .weight {
    //width: 100%;
    margin-bottom: 15px;

    &__label {
      font-size: 14px;
      padding: 13px 0 7px;
      font-weight: bold;
      text-align: left;
    }

    &__select {
      height: 37px;
      width: 100%;
      border: 1px solid black;
      font-size: 14px;
      color: #000;
      border-radius: 5px;
      appearance: none;
      text-indent: 6px;
      background-color: rgb(221, 221, 221);
    }
  }

  .btn-product {
    width: 146px;
    padding: 10px 20px;

    @media screen and (max-width: 768px) {
      display: block;
    }

    @media screen and (min-width: 360px) and (max-width: 768px) {
      width: 125px;
      padding: 7px;
    }

    @media screen and (min-width: 360px) and (max-width: 1024px) {
      max-width: 150px;
      padding: 10px;
    }

    img {
      max-width: 19px;
      margin-right: 6px;
      vertical-align: middle;
    }
  }
}