.quantity-switch {
  padding: 6px 4px;
  //height: 37px;
  width: 100px;
  border-radius: 23px;
  border: 1px solid #ccc;
  position: relative;
  margin: 0 auto 15px;

  button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 0;
    border: 0;
    outline: none;

    img {
      width: 100%;
    }
  }

  input {
    border: none;
    text-align: center;
    width: 30px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
    position: relative;
    background-color: transparent;
    line-height: 23px;
  }
}