//.swiper-container {
//  width: 100%;
//  height: 100%;
//}
//
//.slider {
//  &__block {
//    position: relative;
//
//    @media screen and (min-width: 1200px) and (max-width: 1300px) {
//      width: 80%;
//      margin: 0 auto;
//    }
//
//    .swiper-button-next {
//      right: -50px;
//      //color: black;
//
//      &:before {
//        position: absolute;
//        content: '';
//        width: 42px;
//        height: 42px;
//        background-image: url(#{$imagesPath}svg/right.svg);
//      }
//
//      &:after {
//        display: none;
//      }
//
//      @media screen and (max-width: 1200px) {
//        display: none;
//      }
//    }
//
//    .swiper-button-prev {
//      left: -50px;
//      color: black;
//
//      &:before {
//        position: absolute;
//        content: '';
//        width: 42px;
//        height: 42px;
//        background-image: url(#{$imagesPath}svg/left.svg);
//      }
//
//      &:after {
//        display: none;
//      }
//
//      @media screen and (max-width: 1200px) {
//        display: none;
//      }
//    }
//
//    .swiper-pagination {
//      left: 50%;
//      display: flex;
//      align-items: center;
//
//      .swiper-pagination-bullet {
//        margin: 0 5px;
//      }
//
//      .swiper-pagination-bullet-active {
//        background-color: #fff;
//        border: 2px solid #000;
//      }
//    }
//  }
//}
//
//.first-slider {
//
//}
//
//.second-slider {
//  width: 900px;
//}

.catalog__list {
  &.slider-1 {
    align-items: center;
  }
}

.slider-2 {
  @media screen and (min-width: 1024px) and (max-width: 1200px) {
    width: 700px;
  }

  @media screen and (min-width: 1200px) {
    width: 900px;
  }

  .slick-arrow {
    display: none !important;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    padding-top: 15px;

    li {
      margin: 0 10px;

      button {
        position: relative;
        color: transparent;
        outline: none;

        &:hover {
          cursor: pointer;
        }

        &:before {
          position: absolute;
          content: '';
          width: 7px;
          height: 7px;
          border-radius: 10px;
          background-color: grey;
        }
      }

      &.slick-active {
        button {
          &:before {
            top: -2px;
            border: 2px solid black;
            background-color: #fff;
          }
        }
      }
    }
  }
}

.slick-arrow {
  position: relative;
  color: transparent;
  outline: none;

  &:hover {
    cursor: pointer;
  }

  &.slick-prev {
    &:before {
      position: absolute;
      content: '';
      width: 42px;
      height: 42px;
      background-image: url(#{$imagesPath}svg/left.svg);
    }
  }

  &.slick-next {
    &:before {
      position: absolute;
      content: '';
      width: 42px;
      height: 42px;
      background-image: url(#{$imagesPath}svg/right.svg);
    }
  }
}