table {
  width: 100%;

  tbody {
    tr {
      background-color: $color_alabaster;
    }
  }

  th,
  td {
    padding: 30px;
    vertical-align: middle;
  }

  th {
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
  }

  .even {
    background-color: $color_wild_sand;
  }

  .more-content {
    .name {
      font-size: 15px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      margin-bottom: 10px;
    }
  }

  .btn-block {
    display: flex;
    flex-direction: column;

    button {
      padding: 10px 20px;
    }

    .btn-repeat {
      margin-bottom: 10px;
    }

    .btn-more {
      border: 1px solid $color_limerick;
      color: $color_limerick;
      width: 100%;
    }
  }
}