.about {
  padding: 40px 0;

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    background: rgba(255, 255, 255, 1);
    border: 1px solid #797979;
    border-radius: 11px;
    text-align: center;
    padding: 28px 0 0;
    max-width: 380px;
    margin: 10px;
    min-height: 222px;
    color: #000000;
    transition: .5s;
    width: 31%;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      width: 30%;
    }

    &:hover {
      background-color: #8DB82C;
      color: white;
      transition: .5s;

      .about__img {
        fill: #fff;
      }
    }

    @media screen and (max-width: 568px) {
      width: 100%;
      min-height: 200px;
      margin: 10px 0;
    }
  }

  &__img {
    height: 44px;
    fill: rebeccapurple;
  }

  &__title {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    margin: 15px 0;
    text-transform: uppercase;
  }

  &__text {
    font-size: 15px;
    max-width: 265px;
    margin: 0 auto;
    line-height: 1.5;
  }
}