.catalog {
  padding: 50px 0;
  text-align: center;

  &__list {
    @media screen and (min-width: 360px) {
      display: flex;
      //justify-content: space-between;
      align-items: baseline;
      //flex-wrap: wrap;
    }

    @media screen and (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @media screen and (min-width: 360px) and (max-width: 768px) {
      justify-content: center;
    }

    .product-card {
      &.is-hovered {
        @media screen and (min-width: 768px) {
          margin-bottom: -40px;
        }

        .btn-product {
          display: flex;
        }
      }
    }

    .btn-product {
      display: none;
    }

    .slick-list {
      @media screen and (min-width: 1200px) {
        padding: 40px 0;
      }
    }
  }

  &__btn {
    width: 237px;

    @media screen and (min-width: 360px) {
      margin-top: 40px;
    }

    img {
      width: 36px;
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}