.order {
  .block {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .form {
    margin: 0;

    @media screen and (max-width: 768px) {
      width: 400px;
      padding-left: 50px;
    }

    &__group {
      display: flex;
      justify-content: flex-start;

      @media screen and (max-width: 768px) {
        flex-wrap: wrap;
      }

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000000;
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        width: 172px;
        height: 76px;
        position: relative;
        margin-left: initial;
        margin-bottom: 15px;

        p {
          margin-top: 5px;
          color: #8DB82C;
        }

        &-np {
          background-color: #8DB82C;
          color: #fff;

          p {
            color: #fff;
          }
        }

        img {
          width: 40px;
        }

        .wrap {
          margin-left: 5px;
        }
      }
    }
  }

  &__part {
    span {
      color: #000000;
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
    }

    .bonuses {
      margin-top: 25px;
      margin-left: 70px;
      text-align: right;

      label {
        width: 50%;
      }

      input {
        border: 1px solid;
        background-color: #fff;
      }

      .sum {
        text-align: right;

        span {
          color: #8DB82C;
          margin-left: 10px;
        }
      }
    }
  }

  &__list {
    margin-top: 40px;
  }

  &__item {
    display: flex;
    align-items: center;
    background-color: $color_alabaster;
    padding: 10px 20px;

    &--content {
      margin-left: 10px;

      p {
        margin-bottom: 10px;
      }

      .price {
        color: #8DB82C;
      }
    }
  }
}