.profile {
  &__block {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: start;
      justify-content: center;
    }

    .side-menu {
      display: flex;
      flex-direction: column;
      padding: 20px 30px;
      min-width: 255px;
      border: 2px solid $color_limerick;
      border-radius: 10px;
      margin-right: 70px;

      @media screen and (max-width: 360px) {
        min-width: initial;
        width: 100%;
        padding: 0;
      }

      @media screen and (max-width: 768px) {
        margin: 0 auto 40px;
      }

      .line {
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        padding: 15px 0;
        text-transform: uppercase;

        @media screen and (max-width: 360px) {
          padding-left: 10px;
          padding-right: 10px;
        }

        &.is-active {
          color: $color_limerick;
        }

        &:not(:last-child) {
          border-bottom: 1px solid;
        }

        .number {
          font-weight: 400;
        }
      }

      .block {
        display: flex;
        justify-content: space-between;
      }
    }

    .form {
      margin: initial;
    }

    .history {
      min-width: 500px;
    }
  }
}