.sales {
  background-color: #EDDEA3;
  text-align: center;

  &__list {
    @media screen and (min-width: 360px) {
      display: flex;
      justify-content: center;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      justify-content: center;
    }

    @media screen and (max-width: 1200px) {
      flex-wrap: wrap;
    }

    .product-card {
      position: relative;

      &:before {
        position: absolute;
        content: 'Акция!';
        font-size: 18px;
        color: #FFFFFF;
        line-height: 31px;
        width: 85px;
        background-color: #8DB82C;
        text-align: center;
        margin: 0 auto;
        border-radius: 8px;
        left: 14px;
        top: 14px;
        transition-duration: 0.4s;
      }
    }

    .btn-product {
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
  }

  &__sales {
    width: 237px;

    img {
      width: 36px;
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}