// fonts
$font_family_regular: 'GothamProRegular', sans-serif;
$font_family_bold: 'GothamProBold', sans-serif;
$font_family_medium: 'GothamProMedium', sans-serif;
$font_family_light: 'GothamProLight', sans-serif;
$font_weight_regular: 400;
$font_weight_medium: 500;
$font_weight_semi-bold: 600;
$font_weight_bold: 700;
$font_weight_extra-bold: 800;
$font_weight_black: 900;

// colors
$color_white: #fff;
$color_black: #000;
$color_alabaster: #fcfcfc;
$color_celery: #abbf5e;
$color_dove_gray: #666;
$color_limerick: #8db82c;
$color_mustard: #ffda4d;
$color_twine: #c09c6c;
$color_wild_sand: #f5f5f5;

// Paths
$imagesPath: "../i/";
$fontsPath: "../fonts/";
$usersFilesPath: "../userfiles/";