body {
  position: relative;
  overflow-x: hidden;
  max-width: 100%;
  background-color: $color_white;
  font-family: $font_family_regular;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1170px;
}

a {
  color: $color_black;
  text-decoration: none;
}

.btn {
  border-radius: 9px;
  font-size: 15px;
  padding: 15px;
  text-align: center;
  transition-duration: 0.4s;
  margin: 0 auto;
  cursor: pointer;

  &:hover {
    box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
    transform: translateY(-3px);
    transition-duration: 0.4s;
  }

  &.btn-primary {
    background-color: $color_limerick;
    color: $color_white;
  }

  &.btn-secondary {
    background-color: $color_mustard;
    color: $color_black;
  }
}

.main {
  min-height: 100vh; /*temp solution*/

  .wrapper {
    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and (max-width: 768px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .main-title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
}

// form element
.form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &__section {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    margin-bottom: 25px;
    position: relative;

    &:before {
      position: absolute;
      content: '1';
      text-align: center;
      color: $color_white;
      left: -45px;
      top: calc(50% - 33px / 2);
      width: 33px;
      height: 33px;
      background-color: $color_limerick;
      border-radius: 50%;
      line-height: 1.7;
    }
  }

  &__group {
    margin-bottom: 25px;

    .btn {
      border: 1px solid $color_limerick;
      width: 125px;
      height: 65px;
      padding: initial;
      margin-right: 10px;
    }
  }

  &__btn {
    width: 238px;
    margin: 20px auto 18px;
  }
}

.label {
  margin-bottom: 20px;
  text-align: left;

  span {
    font-size: 18px;
  }

  input {
    background: rgba(245, 245, 245, 1);
    border-radius: 7px 8px 8px 7px;
    border: 0;
    font-size: 18px;
    color: #000000;
    height: 40px;
    text-indent: 20px;
    width: 100%;
    margin-top: 10px;
  }

  textarea {
    background: rgba(245, 245, 245, 1);
    border-radius: 7px 8px 8px 7px;
    border: 0;
    font-size: 18px;
    color: #000000;
    padding-top: 10px;
    min-height: 100px;
    text-indent: 20px;
    width: 100%;
    margin-top: 10px;
  }

  .input-show {
    position: relative;

    .show-eye {
      position: absolute;
      height: 24px;
      width: 24px;
      top: calc(50% - 24px / 2);
      margin-top: 5px;
      right: 22px;
      background: url(#{$imagesPath}svg/eye.svg) 50% 50% no-repeat;
      background-size: 24px 24px;
      z-index: 1;
      cursor: pointer;
    }

    &.hidden {
      .show-eye {
        opacity: .5;
      }
    }
  }

  &.custom {
    margin-bottom: initial;
  }
}

.input-row {
  display: flex;

  label {
    width: 50%;

    &:first-child {
      margin-right: 20px;
    }
  }
}

/* Custom checkbox */
.label-checkbox {
  display: block;
  position: relative;
  padding-left: 32px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;

  &:hover {
    input {
      &~.checkmark {
        transition: .5s;
        border-color: rgba($color_limerick, .7);
      }
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked {
      &~.checkmark {
        &:after {
          display: block;
          left: 5px;
          top: 1px;
          width: 5px;
          height: 10px;
          border: solid $color_limerick;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }
      }
    }
  }

  .checkmark {
    position: absolute;
    top: calc(50% - 18px / 2);
    left: 0;
    height: 18px;
    width: 18px;
    border: 2px solid $color_limerick;
    border-radius: 5px;
    transition: .5s;

    &:after {
      content: '';
      position: absolute;
      display: none;
    }
  }
}

/* Custom select */
.customSelect {
  background: $color_wild_sand;
  border-radius: 7px 8px 8px 7px;
  //border: 1px solid;
  font-size: 18px;
  color: #000000;
  height: 40px;
  text-indent: 20px;
  text-align: left;
  margin-top: 10px;
  position: relative;
  margin-bottom: 10px;
  transition-duration: .4s;

  &:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .16);
    transition-duration: .4s;
    cursor: pointer;
  }

  &:before,
  &:after {
    width: 10px;
    height: 3px;
    position: absolute;
    content: '';
    right: 15px;
    top: 18px;
    background-color: $color_dove_gray;
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
    right: 21px;
  }

  .custom-select-opener {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px 0;
  }

  .custom-select-panel {
    background-color: $color_white;
    position: absolute;
    display: none;
    width: 100%;
    z-index: 1;
    border: 1px solid;
    border-top: none;
    top: 38px;

    .custom-select-option {
      //height: 40px;
      padding: 5px 0;

      &.has-focus {
        background-color: darkgrey;
      }
    }
  }

  &.is-open {
    //height: 0;
    .custom-select-panel {
      display: block;
    }
  }

  select {
    display: none;
  }
}
